
{% extends "Admin/Base/base.html" %}
{% load static %}
{% block main-content %} 

<div id="querylist">
<div class="body-wrapper">
    <div class="container-fluid">
      <div class="font-weight-medium shadow-none position-relative overflow-hidden mb-7">
        <div class="card-body px-0">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h4 class="font-weight-medium fs-14 mb-0">Datatable Advanced</h4>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a class="text-muted text-decoration-none" href="index.html">Home
                    </a>
                  </li>
                  <li class="breadcrumb-item text-muted" aria-current="page"> <a class="text-muted text-decoration-none" href="{% url "allquerylist" %}">All Leads
                </a></li>
                </ol>
              </nav>
            </div>
            <div>
              <div class="d-sm-flex d-none gap-3 no-block justify-content-end align-items-center">
                <div class="d-flex gap-2">
                  <a href="{% url "addquery" %}">
                    <button type="button" class="btn mb-1 bg-primary-subtle text-primary px-4 fs-4 font-medium">
                        Add Query
                      </button>
                </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% include "Login/messages.html" %}
      <div class="datatables">
        <div class="row">
          <div class="col-lg-2">
            <a href="{% url "newquerylist" %}">
            <div class="card" style="background: linear-gradient(90deg, rgba(255,145,94,1) 26%, rgba(224,158,0,1) 69%);">
              <div class="card-body p-4 d-flex align-items-center gap-3">
                  <div>
                    <h5 class="fw-semibold mb-0">{{new_lead_list.count}}</h5>
                    <span class="fs-2 d-flex align-items-center" style="color: white;"><i class="ti ti-map-pin text-dark fs-3 me-1"></i>
                      New Lead</span>
                  </div>
                  
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="{% url "connectedquerylist" %}">
            <div class="card" style="background: linear-gradient(90deg, rgba(120,144,126,1) 26%, rgba(55,73,51,1) 69%);">
              <div class="card-body p-4 d-flex align-items-center gap-3">
                  <div>
                      <h5 class="fw-semibold mb-0">{{lead_list.count}}</h5>
                      <span class="fs-2 d-flex align-items-center" style="color: white;"><i class="ti ti-map-pin text-dark fs-3 me-1"></i>Connected</span>
                    </div>
                    
                  </div>
                </div>
              </a>
          </div>
          <div class="col-lg-2">
            <a href="{% url "quatationquerylist" %}">
            <div class="card" style="background: linear-gradient(90deg, rgba(231,111,96,1) 26%, rgba(209,2,2,1) 65%);">
              <div class="card-body p-4 d-flex align-items-center gap-3">
                <div>
                  <h5 class="fw-semibold mb-0">{{quatation_lead_list.count}}</h5>
                  <span class="fs-2 d-flex align-items-center" style="color: white;"><i class="ti ti-map-pin text-dark fs-3 me-1"></i>Quotation Send</span>
                </div>
              </div>
            </div>
          </a>
          </div>
          <div class="col-lg-2">
            <a href="{% url "paymentdonequerylist" %}">
            <div class="card" style="background: linear-gradient(90deg, rgba(128,164,255,1) 26%, rgba(45,84,167,1) 65%);">
              <div class="card-body p-4 d-flex align-items-center gap-3">
                <div>
                  <h5 class="fw-semibold mb-0">{{paydonelead_list.count}}</h5>
                  <span class="fs-2 d-flex align-items-center" style="color: white;"><i class="ti ti-map-pin text-dark fs-3 me-1"></i>Payment</span>
                </div>
              </div>
            </div>
          </a>
          </div>
          <div class="col-lg-2">
            <a href="{% url "completedquery" %}">
            <div class="card" style="background: linear-gradient(90deg, rgba(5,172,33,1) 26%, rgba(6,103,33,1) 65%);;">
              <div class="card-body p-4 d-flex align-items-center gap-3">
                <div>
                  <h5 class="fw-semibold mb-0">{{comlead_list.count}}</h5>
                  <span class="fs-2 d-flex align-items-center" style="color: white;"><i class="ti ti-map-pin text-dark fs-3 me-1"></i>Completed</span>
                </div>
              </div>
            </div>
          </a>
          </div>
          
          <div class="col-lg-2">
            <a href="{% url "lostquery" %}">
            <div class="card" style="background: linear-gradient(90deg, rgba(80,75,75,1) 26%, rgba(22,16,16,1) 65%);">
              <div class="card-body p-4 d-flex align-items-center gap-3">
                <div>
                  <h5 class="fw-semibold mb-0">{{lost_list.count}}</h5>
                  <span class="fs-2 d-flex align-items-center" style="color: white;"><i class="ti ti-map-pin text-dark fs-3 me-1"></i>Lost</span>
                </div>
              </div>
            </div>
          </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <!-- ---------------------
                        start File export
                    ---------------- -->
            <div class="card">
              <div class="card-body">
                
                <div class="table-responsive">
                  
                  <table id="file_export" class="table border table-striped table-bordered display text-nowrap">
                    <thead>
                                <tr>
                                  <th>Id</th>
                                  <th>Title</th>
                                  <th>Status</th>
                                  <th>Operation</th>
                                  <th>Sales</th>
                                  <th>Quotation</th>
                                  <th>Notes</th>
                                  <th>Action</th>
                                </tr>
                                </thead>


                                <tbody >
                                {% for i in lead_list %}
                                <tr>
                                    
                                  <td data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight-{{i.id}}" aria-controls="offcanvasRight">
                                      {{i.enquiry_number}}
                                  </td>
                                    {% include "Admin/Query/detailsquery.html" %}
                                  <td>{{i.query_title}}
                                  </td>
                                  
                                  <td><span class="mb-1 badge rounded-pill text-bg-warning">{{i.lead_status}}</span>
                                    <button type="button" class="btn d-flex bg-primary-subtle w-100 d-block text-primary font-medium" data-bs-toggle="modal" data-bs-target="#update_status{{i.id}}">
                                      Update 
                                    </button></td>
                                    {% include "Admin/Query/status_update.html" %}
                                  <td><span class="mb-1 badge rounded-pill text-bg-info">{{i.operation_person.first_name}} {{i.operation_person.last_name}}</span></td>
                                  <td><span class="mb-1 badge rounded-pill text-bg-dark">{{i.sales_person.first_name}} {{i.sales_person.last_name}}</span></td>
                                  <td><button type="button" class="btn d-flex bg-secondary-subtle w-100 d-block text-secondary font-medium" data-bs-toggle="modal" data-bs-target="#attach-quatation-{{i.id}}">
                                   Attach Quatation
                                  </button>
                                  {% include "Admin/Query/attach-quatation.html" %}
                                  <br>
                                  <button type="button" class="btn d-flex bg-secondary-subtle w-100 d-block text-secondary font-medium" data-bs-toggle="modal" data-bs-target="#view-quatation-{{i.id}}">
                                    View Quatation
                                   </button>
                                   {% include "Admin/Query/view-quatation.html" %}
                                </td>  

                                <td><button type="button" class="btn d-flex bg-warning-subtle w-100 d-block text-warning font-medium" data-bs-toggle="modal" data-bs-target="#add-notes-{{i.id}}">
                                  Add Notes
                                 </button>
                                 {% include "Admin/Query/addnotes.html" %}
                                 <br>
                                 <button type="button" class="btn d-flex bg-warning-subtle w-100 d-block text-warning font-medium" data-bs-toggle="modal" data-bs-target="#view-notes-{{i.id}}">
                                   View Notes
                                  </button>
                                  {% include "Admin/Query/viewnotes.html" %}
                               </td> 
                                  
                                  <td>
                                      <a href="{% url "editquery" i.id %}">
                                        <button type="button" class="btn mb-1 bg-success-subtle text-success px-4 fs-4 font-medium">
                                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                              <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                              <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                              <path d="M16 5l3 3" />
                                            </svg>
                                          </button>
                                      </a>                                                    
                                    </td>
                              </tr>
                                {% endfor %}
                               
                            
                                </tbody>
                            </table>
                        </div>           
                    </div>
                </div>
            </div>
        </div><!--end row-->


    </div> <!-- end container -->
</div>

</div>

{{ message|json_script:"room-name" }}

{% endblock main-content %} 
