{% load static %}
<div class="modal fade" id="update_status{{i.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="update_status" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <form action="{% url 'lead_status_update' i.id %}" method="post" id="update-status-form-{{ i.id }}">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center">
                    <h4 class="modal-title" id="exampleModalLabel1">
                        Update Status
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-lg-12">
                            <label for="country-name" class="control-label">Status</label>
                            <select class="select2 form-control" name="lead_status" id="lead_status" style="height: 36px; width: 100%">
                                <option value="New Lead" {% if i.lead_status == "New Lead" %}selected{% endif %}>New Lead</option>
                                <option value="Connected" {% if i.lead_status == "Connected" %}selected{% endif %}>Connected</option>
                                <option value="Quotation Send" {% if i.lead_status == "Quotation Send" %}selected{% endif %}>Quotation Send</option>
                                <option value="Payment Processing" {% if i.lead_status == "Payment Processing" %}selected{% endif %}>Payment Processing</option>
                                <option value="Payment Done" {% if i.lead_status == "Payment Done" %}selected{% endif %}>Payment Done</option>
                                <option value="Lost" {% if i.lead_status == "Lost" %}selected{% endif %}>Lost</option>
                                <option value="Completed" {% if i.lead_status == "Completed" %}selected{% endif %}>Completed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-danger-subtle text-danger font-medium" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-success">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
