{% extends "Admin/Base/base.html" %}
{% block main-content %}
<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Edit Restaurant</h4>
                    <div class="btn-group mt-2">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <li class="breadcrumb-item"><a href="#">Zoogler</a></li>
                            <li class="breadcrumb-item"><a href="#">Components</a></li>
                            <li class="breadcrumb-item"><a href="#">Forms</a></li>
                            <li class="breadcrumb-item active">Edit Restaurant</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">  
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-6">
                                    <h4 class="mt-0 header-title">Restaurant Information</h4>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label for="example-text-input" class="col-sm-2 col-form-label">Name</label>
                                            <input class="form-control" type="text" name="name" value="{{ restaurant.name }}" placeholder="Enter Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label for="example-email-input" class="col-sm-6 col-form-label">Image</label>
                                            <input class="form-control" type="file" name="image">
                                       </div>
                                       <div class="col-sm-6">
                                            <label for="example-email-input" class="col-sm-6 col-form-label">Timing</label>
                                            <input class="form-control" type="text" name="timing" value="{{ restaurant.timing }}" placeholder="Enter Timing">
                                       </div>
                                       
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label for="example-email-input" class="col-sm-6 col-form-label">Destination</label>
                                            <select class="select2" name="destination_id" id="id_destination" style="width:100%;">
                                                {% for destination in destinations %}
                                                <option value="{{ destination.id }}" {% if destination.id == restaurant.destination.id %} selected {% endif %}>{{ destination.name }}</option>
                                                {% endfor %}
                    
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="example-email-input" class="col-sm-6 col-form-label">Location</label>
                                            <select class="select2" id="id_restaurant_location" name="restauration_location_id">
                                                {% for location in restaurant_location %}
                                                <option value="{{ location.id }}" {% if location.id == restaurant.restaurant_location.id %} selected {% endif %}>{{ location.name }}</option>
                                                {% endfor %}
                                                
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label for="example-email-input" class="col-sm-6 col-form-label">Meal Prefrence</label>
                                            <select class="select2" name="meal_prefrence" id="meal_prefrence" style="width:100%;">
                                                <option value="Veg/Non Veg" {% if meal_prefrence == "Veg/Non Veg" %}selected{% endif %}>Veg/Non Veg</option>
                                                <option value="Pure Veg/Jain Meals" {% if meal_prefrence == "Pure Veg/Jain Meals" %}selected{% endif %}>Pure Veg/Jain Meals</option>
                    
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="example-email-input" class="col-sm-6 col-form-label">Landmark</label>
                                            <input class="form-control" type="text" name="landmark" value="{{ restaurant.landmark }}" placeholder="Enter Landmark">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                         
                                        <div class="col-sm-6">
                                            <label for="example-email-input" class="col-sm-6 col-form-label">Restaurant Type</label>
                                            <select class="select2 mb-3 select2-multiple" name="restaurent_type_ids" id="restaurent_type_id" style="width: 100%" multiple="multiple" data-placeholder="Choose">
                                                {% for test in ddd %}
                                                <option value="{{test.id}}" selected>{{test}}</option>
                                                {% endfor %}

                                                   
                        
                                                </select>
                                        </div>
                                        
                                        
                                    <div class="col-sm-6">
                                        <label for="example-email-input" class="col-sm-6 col-form-label">Type</label>
                                        {% comment %} <select class="select2 form-control mb-3 custom-select" name="type_id" id="id_type" style="width: 100%; height:36px;"> {% endcomment %}
                                        <select class="select2" name="type_id" id="id_type" style="width:100%;">
                                            {% for t in types %}
                                                <option value="{{ t.id }}" {% if t.id == restaurant.type.id %} selected {% endif %}>{{ t.name }}</option>
                                                {% endfor %}
                
                                        </select>
                                    </div>
                                    </div>
                                    
                                    
                                </div>

                                <div class="col-xl-6">
                                    <h4 class="mt-0 header-title">Other Information</h4>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label for="example-text-input" class="col-sm-2 col-form-label">Address</label>
                                            <input class="form-control" type="text" name="address" value="{{ restaurant.address }}" placeholder="Enter Address">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label for="example-text-input" class="col-form-label">Contact Person</label>
                                            <input class="form-control" type="text" name="contact_person" value="{{ restaurant.contact_person }}" placeholder="Enter Contact Person">
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="example-text-input" class="col-form-label">Contact Person Phone</label>
                                            <input class="form-control" type="text" name="contact_person_phone" value="{{ restaurant.contact_person_phone }}" placeholder="Enter Phone">
                                        </div>
                                        
                                    </div>
                                    <div class="form-group row">
                                        
                                    <div class="col-sm-6">
                                        <label for="example-text-input" class="col-form-label">Contact Person Email</label>
                                        <input class="form-control" type="email" name="contact_person_email" value="{{ restaurant.contact_person_email }}" placeholder="Enter Email">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="example-text-input" class="col-form-label">Landline No.</label>
                                        <input class="form-control" type="text" name="landline_no" value="{{ restaurant.landline_no }}" placeholder="Enter Landline No.">
                                    </div>
                                        
                                    </div>
                                    
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label for="example-text-input" class="col-form-label">Restaurant Details</label>
                                            <textarea class="form-control" name="restaurent_details" placeholder="Enter Restaurant Details">{{ restaurant.restaurent_details }}</textarea>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>  

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>                                          
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        // Function to fetch restaurant locations based on the selected destination
        function fetchRestaurantLocations(destinationId) {
            var url = "{% url 'get-restaurant-locations' %}";
            $.ajax({
                url: url,
                data: {
                    'destination_id': destinationId
                },
                success: function(data) {
                    console.log("Received data:", data);
                    $("#id_restaurant_location").html(""); 
                    $.each(data, function(index, item) {
                        $("#id_restaurant_location").append(
                            $("<option></option>").attr("value", item.id).text(item.name)
                        );
                    });
                },
                error: function(xhr, status, error) {
                    console.error("Error fetching restaurant locations:", error);
                }
            });
        }

        // Trigger the fetchRestaurantLocations function when the page loads
        var selectedDestinationId = $("#id_destination").val();
        fetchRestaurantLocations(selectedDestinationId);

        // Update the locations dropdown when the destination selection changes
        $("#id_destination").change(function() {
            var destinationId = $(this).val();
            fetchRestaurantLocations(destinationId);
        });

        // Pre-select the location dropdown based on the already selected destination
        var selectedLocationId = "{{ restaurant.restaurant_location.id }}";
        $("#id_restaurant_location").val(selectedLocationId);
    });
</script>


{% endblock main-content %}
