{% load static %}


<div class="modal fade" id="scroll-long-inner-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="scroll-long-inner-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <form action="" id="add-state-form">
                {% csrf_token %}
                <div class="modal-header d-flex align-items-center">
                    <h4 class="modal-title" id="exampleModalLabel1">
                        Add State
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="recipient-name" class="control-label">Name</label>
                        <input type="text" class="form-control" placeholder="Enter Name" hx-post="{% url "checkstates" %}"  hx-target="#post-data-container" hx-trigger="keyup changed delay:500ms" name="state_name">
                        </div>
                        <div id="post-data-container"></div>
                    <div class="mb-3">
                        <label for="country-name" class="control-label">Country</label>
                        <select class="select2 form-control" name="country_id" id="country-name"
                            style="width: 100%; height: 36px">
                            <option selected disabled>Select</option>
                            {% for country in country %}
                            <option value="{{country.id}}">{{country.country_name}}</option>

                            {% endfor %}
                        </select>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-danger-subtle text-danger font-medium" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-success" id="save-state-btn">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

 

<script>


    document.getElementById('save-state-btn').addEventListener('click', function () {

        var form = document.getElementById('add-state-form');
        var formData = new FormData(form);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', "{% url 'addstate' %}", true);
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        xhr.onload = function () {
            if (xhr.status === 200) {

                window.location.href = "{% url 'addstate' %}";
                // Reload the page

            } else if (xhr.status === 400) {
                
                // Handle bad request response
               
                
            } else {
                // Handle other error responses
                alert('Select Country');
            }
        };
        xhr.send(formData);
    });

</script>