{% extends "Admin/Base/base.html" %}
{% load static %}
{% block main-content %}

<div class="body-wrapper">
    <div class="container-fluid">
      <div class="font-weight-medium shadow-none position-relative overflow-hidden mb-7">
        <div class="card-body px-0">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h4 class="font-weight-medium fs-14 mb-0">Form Basic</h4>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a class="text-muted text-decoration-none" href="index.html">Home
                    </a>
                  </li>
                  <li class="breadcrumb-item text-muted" aria-current="page">Form Basic</li>
                </ol>
              </nav>
            </div>
            <div>
              <div class="d-sm-flex d-none gap-3 no-block justify-content-end align-items-center">
                <div class="d-flex gap-2">
                  <div class="">
                    <small>This Month</small>
                    <h4 class="text-primary mb-0 font-medium">$58,256</h4>
                  </div>
                  <div class="">
                    <div class="breadbar"></div>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="">
                    <small>Last Month</small>
                    <h4 class="text-secondary mb-0 font-medium">$58,256</h4>
                  </div>
                  <div class="">
                    <div class="breadbar2"></div>
                  </div>
                </div>
                
                
              </div>
            </div>
          </div>
        </div>    
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xl-6">
                        <h4 class="mt-0 header-title">Hotel Information</h4>
                        <div class="form-group row">
                            
                            <div class="col-sm-12">
                                <label for="example-text-input" class="col-sm-6 col-form-label">Name</label>
                                <input class="form-control" type="text" name="name" placeholder="Enter Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            
                            <div class="col-sm-6">

                                <label for="country-name" class="col-sm-6 col-form-label">Country</label>
                                <select name="country_id" id="country-name" class="select2 form-control" style="width: 100%; height: 36px">
                                    <option  selected disabled>Select</option>
                                    {% for country in countrys %}
                                    <option value="{{country.id}}">{{country.country_name}}</option>
                                    
                                    {% endfor %}
                                </select>
                           </div>
                           <div class="col-sm-6">
                                <label for="example-email-input" class="col-sm-6 col-form-label">Destination</label>
                                <select class="select2 form-control" id="destination-name" name="destination_id" style="width: 100%; height: 36px">
                                    <option value="">Select</option>
                                    
                                </select>
                           </div>
                           
                        </div>
                        <div class="form-group row">
                           
                            <div class="col-sm-6">
                                <label for="example-email-input" class="col-sm-6 col-form-label">Category</label>
                                <select class="select2 form-control" name="category_id" id="id_category" style="width: 100%; height: 36px">
                                    {% for category in categorys %}
                                    <option value="{{category.id}}">{{category.name}}</option>
                                     {% endfor %}
        
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="example-email-input" class="col-sm-6 col-form-label">Hotel Image</label>
                                <input class="form-control" type="file" name="hotel_image" id="hotel_image">
                            </div>
                        </div>
                        <div class="form-group row">
                            
                            <div class="col-sm-6">
                                <label for="example-email-input" class="col-sm-6 col-form-label">Contact Person</label>
                                <input class="form-control" type="text" name="contact_person" placeholder="Enter Contact Person Name">
                            </div>
                            <div class="col-sm-6">
                                <label for="example-email-input" class="col-sm-6 col-form-label">Tel. No.</label>
                                <input class="form-control" type="text" name="tel_no" id="tel_no" placeholder="Enter Tel No">
                            </div>
                        </div>
                        <div class="form-group row">
                            
                            <div class="col-sm-6">
                                <label for="example-email-input" class="col-sm-6 col-form-label">Mob No.</label>
                                <input class="form-control" type="text" name="mob_no" id="mob_no" placeholder="Enter Mobile No">
                            </div>
                            <div class="col-sm-6">
                                <label for="example-email-input" class="col-sm-6 col-form-label">Reservation Email</label>
                               <input class="form-control" type="email" name="reservation_email" id="reservation_email">
                            </div>
                        </div>
                        <div class="form-group row">
                            
                            <div class="col-sm-6">
                                <label for="example-email-input" class="col-sm-6 col-form-label">Amenities</label>
                                <select class="select2 form-control" name="amenities_id" id="id_amenities" multiple="multiple" style="height: 36px; width: 100%">
                                
                                    {% for amenities in amenitiess %}
                                    <option value="{{amenities.id}}">{{amenities.name}}</option>
                                     {% endfor %}
        
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="example-email-input" class="col-sm-6 col-form-label">Hotel Contract</label>
                               <input class="form-control" type="file" name="hotel_contract" id="hotel_contract">
                            </div>
                        </div>
                         
                    </div>
                    <div class="col-xl-6">
                        <h4 class="mt-0 header-title">Other Information</h4>
                        <div class="form-group row">
                            
                            <div class="col-sm-12">
                                <label for="example-text-input" class="col-sm-2 col-form-label">Room Type</label>
                                <select class="select2 form-control" name="roomtype_id" id="id_roomtype" multiple="multiple" style="height: 36px; width: 100%">
                                    {% for roomtype in roomtypes %}
                                    <option value="{{roomtype.id}}">{{roomtype.name}}</option>
                                     {% endfor %}
        
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            
                            <div class="col-sm-12">
                                <label for="example-text-input" class="col-form-label">Meal Plan</label>
                                <select class="select2 form-control" name="mealplan_id" id="id_mealplan" multiple="multiple" style="height: 36px; width: 100%">
                                    {% for mealplan in mealplans %}
                                    <option value="{{mealplan.id}}">{{mealplan.name}}</option>
                                     {% endfor %}
        
                                </select>
                            </div>
                            
                        </div>
                        <div class="form-group row">
                            
                            <div class="col-sm-12">
                                <label for="example-text-input" class="col-form-label">Hotel Address</label>
                                <input class="form-control" type="text" name="hotel_address" placeholder="Enter Address">
                            </div>
                            
                        </div>
                        <div class="form-group row">
                            
                            <div class="col-sm-12">
                                <label for="example-text-input" class="col-form-label">Details</label>
                                <textarea name="details" id="" class="form-control mb-3"></textarea>
                            </div>
                            
                        </div>
                        <div class="form-group row">
                            
                            <div class="col-sm-12">

                               <input type="checkbox" name="supplier_own" id="">
                               <label for="">Supplier Own</label>
                            </div>
                            
                        </div>
                    </div>
                </div>  
                
                    
                    <button type="submit" class="btn btn-primary">Save</button>
                  
                
            </form>   
            </div>
          </div>
        </div>
      </div>

</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('#country-name').change(function(){
            var country_id = $(this).val();
            $.ajax({
                url: '{% url "get_destination" %}',
                type: 'GET',
                data: {'country_id': country_id},
                success: function(response){
                    $('#destination-name').empty();
                    $.each(response.destinations, function(key, value){
                        $('#destination-name').append('<option value="' + key + '">' + value + '</option>');
                    });
                }
            });
        });
    });
</script>


{% endblock main-content %}