{% load static %}

  
 <div class="modal fade" id="document" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
 aria-labelledby="document" aria-hidden="true">
 <div class="modal-dialog modal-dialog-scrollable">
     <div class="modal-content">
         <form action="" id="add-document-form" enctype="multipart/form-data">
             {% csrf_token %}
             <div class="modal-header d-flex align-items-center">
                 <h4 class="modal-title" id="exampleModalLabel1">
                     Add Folder
                 </h4>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">

                 <div class="mb-3">
                     <label for="recipient-name" class="control-label">Folder Name</label>
                     <input type="text" class="form-control" placeholder="Enter Name" name="folder_name">
                     </div>
                     
                 <div class="mb-3">
                    <label for="country-name" class="control-label">Upload Documents</label>
                    <input type="file" class="form-control" name="document_id">
                    

                 </div>

             </div>
             <div class="modal-footer">
                 <button type="button" class="btn bg-danger-subtle text-danger font-medium" data-bs-dismiss="modal">
                     Close
                 </button>
                 <button type="button" class="btn btn-success" id="save-document-btn">
                     Save
                 </button>
             </div>
         </form>
         
     </div>
 </div>
</div>


<script>
    document.getElementById('save-document-btn').addEventListener('click', function() {
        
        var form = document.getElementById('add-document-form');
        var formData = new FormData(form);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', "{% url 'add_document' %}", true);
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        xhr.onload = function () {
            if (xhr.status === 200) {
                
                window.location.href = "{% url 'documents' %}";
                // Reload the page
                
                
            } else if (xhr.status === 400) {
               showCountryExistsAlert("Document");
            } else {
                alert('Error occurred');
            }
        };
        xhr.send(formData);
    });

</script>